// ul {
//   li:nth-child(2n) {
//     background-color: red;
//   }
// }

.conteinerTime {
  &__btn {
    position: relative;
  }
  &__timeWindow {
    position: absolute;
    display: block;
    background-color: aqua;
    border: 1px solid red;
    height: 100px;
    width: 200px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease,
      background-color 0.5s ease;
    &:hover {
      background-color: red;
    }
    &--show {
      opacity: 1;
      visibility: visible;
    }
  }
}
