.lastTimeUser {
  &__text {
    font-size: 40px;
    background-color: rgba(255, 0, 0, 0.299);
  }
  &__name {
    background-color: rgb(6, 255, 243);
  }
  &__time {
    background-color: rgb(229, 255, 0);
  }
}
