body {
  font-family: Arial, sans-serif;
}
#user-list {
  list-style: none;
  padding: 0;
}
.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.user-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.dog-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px 0;
}

.box1 {
  border: 1px solid black;
}
.box2 {
  border: 1px solid black;
}
.box3 {
  border: 1px solid black;
}
