[hidden] {
  display: none !important;
}

.dialog {
  position: relative;
  transition: 2s;

  &__link {
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      background-color: red;
    }
  }

  &__window {
    margin-top: 5px;
    display: flex;
    position: absolute;
    justify-content: center;
    border: 1px solid red;
    border-radius: 50px;
    width: 300px;
    background-color: white;
  }
}
